ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  position: relative;
  width: auto;
}

:root {
  --drag-drop-menu-color: rgb(231, 225, 244);
  --drag-drop-outline-color: #dbdbdb;
}
[theme='dark'] {
  --drag-drop-menu-color: rgb(50, 50, 53);
  --drag-drop-outline-color: rgb(126, 126, 126);
}

li {
  border-radius: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 15px 18px;
  position: relative;
  background: var(--drag-drop-menu-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}
.drag-drop-menu {
  padding: 10px;
  margin: 5px;
  border-width: 1px;
  border-color: var(--drag-drop-outline-color);
  border-style: solid;
  border-radius: 5px;
}

.drag-drop-menu header {
  margin-bottom: 10px;
}

.table {
  padding: 15px;
}
td {
  min-width: 100px;
}
