ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  position: relative;
  width: auto;
}

li {
  border-radius: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 15px 18px;
  position: relative;
  background: rgb(47, 47, 47);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}
.drag-drop-menu {
  padding: 10px;
  margin: 5px;
  border-width: 1px;
  border-color: rgb(104, 104, 104);
  border-style: solid;
  border-radius: 5px;
}

.drag-drop-menu header {
  margin-bottom: 10px;
}

.table {
  padding: 15px;
}
td {
  min-width: 100px;
}
